div{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rosybrown;
    height: 500px;
    width: 500px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}