.background{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
}
div{
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
    background-color: lightsalmon;
    width: 100px;
    height: 100px;
}
.result{
    float: right;
    background-color: grey;
    width: 200px;
    height: 100px;
}
